body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTf4478MI9kBCvMgcdoeSQzbgs4h6CaUp5Lhcw64grfFT3mnb35&usqp=CAU");
    }

.header-image {

}


header {
    /* background-image: -webkit-radial-gradient(rgb(161, 158, 156), rgb(73, 72, 71)), url('../assets/light-grey-pattern.jpeg'); */
    opacity: 0.9;
    background-image: url('../assets/light-grey-pattern.jpeg'), -webkit-radial-gradient(rgb(161, 158, 156), rgb(73, 72, 71));
    border-radius: 8px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 80px;
    margin-right: 80px;
    color: whitesmoke;
    
    }

    nav {
        font-size: 15px;
    }
